{% extends 'admin_base.html' %}

{% block content %}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ movie.image_url }}" alt="{{ movie.title }} Image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h1 class="text-primary fw-bold">{{ movie.title }}</h1>
                    <p>{{ movie.description }}</p>
                    <p>Director: {{ movie.director }}</p>
                    <p>Release Year: {{ movie.release_year }}</p>
                    <p>Duration: {{ movie.duration }} minutes</p>
                    <p>Age Rating: {{ movie.age_rating }}</p>
                    <p>Genre: {{ movie.genre }}</p>
                    <p>Rating: {{ movie.rating }}</p>
                    <div class="mt-5">
                        <form action="{% url 'delete_movie' movie.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger fw-bold">Delete Movie</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <h4>Watch Trailer:</h4>
                <div class="ratio ratio-16x9 mt-5 video-container">
                    <iframe width="560" height="315" src="{{ movie.trailer_url }}" frameborder="0"
                        allowfullscreen></iframe>
                </div>
            </div>


            <form method="POST" class="mt-5">
                {% csrf_token %}
                <h1 class="text-primary fw-bold">Edit movie</h1>
                {{ form.as_p }}
                <button class="btn btn-info fw-bold mt-3">Save</button>
            </form>




            {% if error %}
            <div id="errorToast" class="toast align-items-center position-fixed top-0 start-50 translate-middle-x"
                role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999;">
                <div class="d-flex align-items-center">
                    <div class="toast-body text-danger fw-bold">
                        <i class="bi bi-exclamation-triangle-fill text-danger me-2"></i>
                        {{ error }}
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</main>



{% endblock %}